<?xml version="1.0" encoding="utf-8"?>
		<Configuration>
		<Source>
		<villa_id>WWBeachHouse</villa_id>
		<estate_id vids=""></estate_id>
		<villa_name>Infinity Blue Phuket</villa_name>
		<google_analytics>UA-121643473-1</google_analytics>
		<location>Phuket</location>
		<sublocation> Natai Beach</sublocation>
		<bedrooms>4</bedrooms>
		<hrental_id>'WWBeachHouse', 'Phuket', 'Natai Beach', '4br'</hrental_id>
		<ehgLocation>Phuket, Natai Beach</ehgLocation>
		<ehgBookingSource>Villa Website</ehgBookingSource>
		<ehgPageType>individual</ehgPageType>
		</Source>
		</Configuration>