{include file="header.html"}
    <!--[if lte IE 6]>
    <iframe src="http://www.browserupgrade.info/ie6-upgrade/?lang=en&title=Villa Maharaj&fx3=true&more-info-at=http://www.browserupgrade.info" frameborder="no" style="height: 81px; width: 100%; border: none;"></iframe>
    <![endif]-->
    <body id="maharaj" class="page page-id-275 page-child parent-pageid-273 page-template-default">
{$gtm}
    
                        <div id="container">
            <div class="header_fix">
                <div id="headerwrap">
                    <div class="menu-fix">
                        <div id="topheader">
                            {include file="menu.html"}
                            <!-- /main navigation -->
                        </div>
                    </div>
                    <!-- /topheader -->
                </div>
            </div>
            <!-- /headerwrap -->	<div id="contentwrap">
		<div id="headerimg">
			<div class="header-loader">
				        <img src="/resources/villamaharaj/headers/default-villa-maharaj-decking-and-pool.jpg" alt="villa-maharaj-decking-and-pool" />
    			</div>
			<div class="ornament"></div>
		</div>
		<!-- /headerimg -->
		<div id="maincol">
			<h1 class="entry-title">Guest book</h1>
			<div class="two-btn" >
				<a class="button availability" href="http://www.villamaharaj.com/availability-calendar.html">Availability</a>
					<a class="button book" href="http://www.villamaharaj.com/reservations.html">Book now</a>			</div>
						<div id="content">
					<div id="content-inner">
															<p><script type="text/javascript" src="/resources/villamaharaj/js/swfobject.js"></script></p>
<div id="pageflipbookContent" style="clear: both; width:802px; height: 462px; background-image:url('/resources/villamaharaj/testimonials/background.jpg');">
<p>To see the animation of the interactive catalog you must install the last version of <a href="http://adobe.com/go/getflashplayer">Flash player</a>.</p>
</div>
<p>
{literal}
<script type="text/javascript">
var so = new SWFObject("/resources/villamaharaj/testimonials/swf/book.swf", "book", "802", "462", "8");
so.addVariable("xmlFile","/resources/villamaharaj/testimonials/xml/pageflipbook.xml");
so.addParam("wmode", "transparent");
so.write("pageflipbookContent");
</script>
{/literal}
</p>
					<div class="clear"></div>
				</div>
				<!-- /content-inner -->
			</div>
			<!-- /content -->
		</div>
		<!-- /maincol -->
	</div>
	<!-- /contentwrap -->
{include file="footer.html"}