<div id="headerimg">
    <div class="header-loader">
    {if $data.page == 'index'}
    <div class="slideshow">
        <img src="/resources/villamaharaj/headers/homepage-villa-maharaj-decking-and-pool.jpg" alt="villa-maharaj-decking-and-pool" />
        <img src="/resources/villamaharaj/headers/homepage-villa-maharaj-chill-out-by-the-pool.jpg" alt="villa-maharaj-chill-out-by-the-pool" />
        <img src="/resources/villamaharaj/headers/homepage-villa-maharaj-spa-bale.jpg" alt="villa-maharaj-spa-bale" />
    </div>
    {elseif $data.page == 'about-villa-maharaj'}
    <img src="/resources/villamaharaj/headers/about-villa-maharaj-villa-and-gardens.jpg" alt="villa-maharaj-villa-and-gardens" />
    {elseif $data.page == 'villa-layout'}
    <img src="/resources/villamaharaj/headers/default-villa-maharaj-decking-and-pool.jpg" alt="villa-maharaj-decking-and-pool" />
    {elseif $data.page == 'bedrooms'}
    <img src="/resources/villamaharaj/headers/bedrooms-villa-maharaj-master-bedroom.jpg" alt="villa-maharaj-master-bedroom">
    {elseif $data.page == 'indoor-living'}
    <img src="/resources/villamaharaj/headers/indoor-villa-maharaj-living-area-at-night.jpg" alt="villa-maharaj-living-area-at-night">
    {elseif $data.page == 'quick-facts'}
    <img src="/resources/villamaharaj/headers/quick-facts-villa-maharaj-childrens-pool-at-night.jpg" alt="villa-maharaj-childrens-pool-at-night">
    {elseif $data.page == 'dining'}
    <img src="/resources/villamaharaj/headers/dining-villa-maharaj-living-and-dining-at-night.jpg" alt="villa-maharaj-living-and-dining-at-night">
    {elseif $data.page == 'staff'}
    <img src="/resources/villamaharaj/headers/staff-villa-maharaj-barhroom-amenities.jpg" alt="villa-maharaj-barhroom-amenities">
    {elseif $data.page == 'children-at-villa-maharaj'}
    <img src="/resources/villamaharaj/headers/children.jpg" alt="children-at-villa-maharaj">
    {elseif $data.page == 'things-to-do'}
    <img src="/resources/villamaharaj/headers/to-do-villa-maharaj-living-area-rest-room.jpg" alt="villa-maharaj-living-area-rest-room">
    {elseif $data.page == 'guest-reviews'}
    <img src="/resources/villamaharaj/headers/reviews-villa-maharaj-guest-bedroom-2.jpg" alt="villa-maharaj-guest-bedroom">
    {elseif $data.page == 'rates'}
    <img src="/resources/villamaharaj/headers/rates-villa-maharaj-upstairs-bedroom.jpg" alt="villa-maharaj-upstairs-bedroom">
    {elseif $data.page == 'availability'}
    <img src="/resources/villamaharaj/headers/calendar-villa-maharaj-living-room-towards-dining-area.jpg" alt="villa-maharaj-living-room-towards-dining-area" />
	{elseif $data.page == 'reservations' || $data.page == 'general-enquiries'}
    <img src="/resources/villamaharaj/headers/reservations-villa-maharaj-garden-path-to-the-villa.jpg" alt="villa-maharaj-garden-path-to-the-villa">
	{elseif $data.page == 'contact-us'}
    <img src="/resources/villamaharaj/headers/contact-villa-maharaj-living-room.jpg" alt="villa-maharaj-living-room">
    {elseif $data.page == 'links'}
    <img src="/resources/villamaharaj/headers/links-villa-maharaj-guest-bathroom-2.jpg" alt="villa-maharaj-guest-bathroom-2">
    {elseif $data.page == 'sitemap'}
    <img src="/resources/villamaharaj/headers/sitemap-villa-maharaj-guest-bedroom-1.jpg" alt="villa-maharaj-guest-bedroom-1">
    {else}
    <img src="/resources/villamaharaj/headers/default-villa-maharaj-decking-and-pool.jpg" alt="villa-maharaj-decking-and-pool" />
    {/if}
    </div>
    <div class="ornament"></div>
</div>