{include file="header.html"}
    <!--[if lte IE 6]>
    <iframe src="http://www.browserupgrade.info/ie6-upgrade/?lang=en&title=Villa Maharaj&fx3=true&more-info-at=http://www.browserupgrade.info" frameborder="no" style="height: 81px; width: 100%; border: none;"></iframe>
    <![endif]-->
    <body id="maharaj" class="page page-id-42 page-child parent-pageid-273 page-template-default">
{$gtm}
    
                        <div id="container">
            <div class="header_fix">
                <div id="headerwrap">
                    <div class="menu-fix">
                        <div id="topheader">
                            {include file="menu.html"}<!-- /main navigation -->
                        </div>
                    </div>
                    <!-- /topheader -->
                </div>
            </div>
            <!-- /headerwrap -->	<div id="contentwrap">
		<div id="headerimg">
			<div class="header-loader">
				        <img src="/resources/villamaharaj/headers/press-villa-maharaj-garden-detail.jpg" alt="villa-maharaj-garden-detail" />
    
    			</div>
			<div class="ornament"></div>
		</div>
		<!-- /headerimg -->
		<div id="maincol">
			<h1 class="entry-title">{$data.heading}</h1>
			<div class="two-btn" >
				<a class="button availability" href="http://www.villamaharaj.com/availability-calendar.html">Availability</a>
					<a class="button book" href="http://www.villamaharaj.com/reservations.html">Book now</a>			</div>
						<div id="content">
				<div id="content-inner">
															<p><a href="/resources/villamaharaj/pdfs/The%20Asia%20Villa%20Guide%20-%20Maharaj.pdf" target="_blank"><img class="imgleft" src="/resources/villamaharaj/pdfs/cover-avg.jpg" alt="Maharaj" title="Maharaj" width="130" height="80" /></a></p>
<p>“Tucked down a narrow gang right in the heart of cosmopolitan Seminyak, close to Petitenget beach and a plethora of trendy bars, spas and restaurants, there could not be a more convenient location.” <a href="/resources/villamaharaj/pdfs/The%20Asia%20Villa%20Guide%20-%20Maharaj.pdf" target="_blank" ><em> Villa Maharaj</em>, <strong>The Asia Villa Guide</strong>. First edition 2011</a>”</p>
<p><br class="clear" /><br />
<a href="/resources/villamaharaj/pdfs/wall%20street%20journal%20-%20maharaj.pdf" target="_blank"><img class="imgleft" src="/resources/villamaharaj/pdfs/wsjball.jpg" alt="Maharaj" title="Maharaj" width="130" height="80" /></a></p>
<p>&#8220;Indeed, it’s very informality of a villa that sets it apart from chain hotels. We feel villas are more personal, “says Mr. Foley of PDM International,” They allow us to better communicate and develop longer- term relationships.” <a href="/resources/villamaharaj/pdfs/wall%20street%20journal%20-%20maharaj.pdf" target="_blank"><em> In Bali, Villas Lure Business Clients</em>, <strong>Wall Street Journal</strong>.</a>”<br />
<br class="clear" /><br />
</p>
<p style="font: 10px Arial, Helvetica, sans-serif;">To view the full article please click on the link under the name of the article and publication</p>
					<div class="clear"></div>
				</div>
				<!-- /content-inner -->
			</div>
			<!-- /content -->
		</div>
		<!-- /maincol -->
	</div>
	<!-- /contentwrap -->
{include file="footer.html"}