<?xml version="1.0" encoding="utf-8"?>
		<Configuration>
		<Source>
		<villa_id>P00228</villa_id>
		<estate_id vids="P00183,P00213,P00214">Canggu Beachside Villas</estate_id>
		<villa_name>Canggu Beachside Villas</villa_name>
		<google_analytics>UA-111430557-1</google_analytics>
		<location>Bali</location>
		<sublocation>Canggu</sublocation>
		<bedrooms>99</bedrooms>
		<hrental_id>'P00228', 'Bali', 'Canggu', '99br'</hrental_id>
		<ehgLocation>Bali, Canggu</ehgLocation>
		<ehgBookingSource>Villa Website</ehgBookingSource>
		<ehgPageType>estate</ehgPageType>
		</Source>
		</Configuration>