{reviews hide_this_year="2010" order="d,c,n"}
<div class="reviews-container">  
    <div class="reviews">
        <div class="wrapper">
            <div class="group">
                <div class="content home-reviews">
                    <h2 id="guestreview">Guest Reviews</h2>
							{reviews order="d,c,n" limit=5 villa_id="Tawantok1,Tawantok2"}
							{$reviews}
                    
                    <a href="/guest-reviews.html">read more reviews</a>
                </div>
            </div>
        </div>
    </div>
</div>