{reviews hide_this_year="2010,2011,2012,2013,2014" order="d,c,n"}
<div class="reviews-container lazyload" data-bg="{$data.cdn}/resources/{$data.theme}/content/general/Villa The Beji - Summer holiday" data-sizes="(min-width: 1281px) 1920px, auto" data-bgset="{$data.cdn}/resources/{$data.theme}/content/general/small/Villa%20The%20Beji%20-%20Summer%20holiday.jpg 1400w, {$data.cdn}/resources/{$data.theme}/content/general/Villa%20The%20Beji%20-%20Summer%20holiday.jpg 1920w"> 
    <div class="reviews">
        <div class="wrapper">
            <div class="group">
                <div class="content home-reviews">
                    <h2 id="guestreview">Guest Reviews</h2>
                    {$reviews}
                    
                    <a href="/guest-reviews.html">read more reviews</a>
                </div>
            </div>
        </div>
    </div>
</div>