{if $data.page|in_array:['home', 'index']}
<div class="hero-container">
    <div class="slideshow">
        <div id="slide-1">
            <img src="{$data.cdn}/resources/bansuriya/headers/thumb/Ban%20Suriya.jpg" data-src="{$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Pool%20deck%20area.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/bansuriya/headers/small/Ban%20Suriya%20-%20Pool%20deck%20area.jpg 1400w, {$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Pool%20deck%20area.jpg 1920w" alt="Ban Suriya - Pool deck area" class="lazyload" />            
        </div>
    </div>
</div>
{else}
<div class="hero-container">
    <div class="hero">
    
        {if $data.page == 'about-ban-suriya'}
        <img src="{$data.cdn}/resources/bansuriya/headers/thumb/Ban%20Suriya.jpg" data-src="{$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Villa%20entrance.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/bansuriya/headers/small/Ban%20Suriya%20-%20Villa%20entrance.jpg 1400w, {$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Villa%20entrance.jpg 1920w" alt="Ban Suriya - Villa entrance" class="lazyload" />
        
        {elseif $data.page == 'explore-the-villa'}
        <img src="{$data.cdn}/resources/bansuriya/headers/thumb/Ban%20Suriya.jpg" data-src="{$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Stunning%20swimming%20pool.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/bansuriya/headers/small/Ban%20Suriya%20-%20Stunning%20swimming%20pool.jpg 1400w, {$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Stunning%20swimming%20pool.jpg 1920w" alt="Ban Suriya - Stunning swimming pool" class="lazyload" />
        
        {elseif $data.page == 'quick-facts'}
        <img src="{$data.cdn}/resources/bansuriya/headers/thumb/Ban%20Suriya.jpg" data-src="{$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Extensive%20lawns.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/bansuriya/headers/small/Ban%20Suriya%20-%20Extensive%20lawns.jpg 1400w, {$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Extensive%20lawns.jpg 1920w" alt="Ban Suriya - Extensive lawns" class="lazyload" />

        {elseif $data.page == 'photo-gallery'}
        <img src="{$data.cdn}/resources/bansuriya/headers/thumb/Ban%20Suriya.jpg" data-src="{$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Outdoor%20living%20area.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/bansuriya/headers/small/Ban%20Suriya%20-%20Outdoor%20living%20area.jpg 1400w, {$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Outdoor%20living%20area.jpg 1920w" alt="Ban Suriya - Outdoor living area" class="lazyload" />

        {elseif $data.page == 'floorplan'}
        <img src="{$data.cdn}/resources/bansuriya/headers/thumb/Ban%20Suriya.jpg" data-src="{$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Outdoor%20living%20area.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/bansuriya/headers/small/Ban%20Suriya%20-%20Outdoor%20living%20area.jpg 1400w, {$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Outdoor%20living%20area.jpg 1920w" alt="Ban Suriya - Outdoor living area" class="lazyload" />
        
        {elseif $data.page == 'video'}

        {elseif $data.page == 'weddings'}
        <img src="{$data.cdn}/resources/bansuriya/headers/thumb/Ban%20Suriya.jpg" data-src="{$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Weddings.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/bansuriya/headers/small/Ban%20Suriya%20-%20Weddings.jpg 1400w, {$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Weddings.jpg 1920w" alt="Ban Suriya - Weddings" class="lazyload" />
        
        {elseif $data.page == 'lipa-noi-koh-samui'}
        <img src="{$data.cdn}/resources/bansuriya/headers/thumb/Ban%20Suriya.jpg" data-src="{$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Tropical%20summer%20breeze.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/bansuriya/headers/small/Ban%20Suriya%20-%20Tropical%20summer%20breeze.jpg 1400w, {$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Tropical%20summer%20breeze.jpg 1920w" alt="Ban Suriya - Tropical summer breeze" class="lazyload" />
        
        {elseif $data.page == 'villa-experience'}
        <img src="{$data.cdn}/resources/bansuriya/headers/thumb/Ban%20Suriya.jpg" data-src="{$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20View%20across%20the%20pool%20to%20the%20beach%20beyond.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/bansuriya/headers/small/Ban%20Suriya%20-%20View%20across%20the%20pool%20to%20the%20beach%20beyond.jpg 1400w, {$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20View%20across%20the%20pool%20to%20the%20beach%20beyond.jpg 1920w" alt="Ban Suriya - View across the pool to the beach beyond" class="lazyload" />
        
        {elseif $data.page == 'guest-reviews'}
        <img src="{$data.cdn}/resources/bansuriya/headers/thumb/Ban%20Suriya.jpg" data-src="{$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Beach%20yoga.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/bansuriya/headers/small/Ban%20Suriya%20-%20Beach%20yoga.jpg 1400w, {$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Beach%20yoga.jpg 1920w" alt="Ban Suriya - Beach yoga" class="lazyload" />
        
        {elseif $data.page == 'rates'}
        <img src="{$data.cdn}/resources/bansuriya/headers/thumb/Ban%20Suriya.jpg" data-src="{$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Outdoor%20dinning%20area.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/bansuriya/headers/small/Ban%20Suriya%20-%20Outdoor%20dinning%20area.jpg 1400w, {$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Outdoor%20dinning%20area.jpg 1920w" alt="Ban Suriya - Outdoor dinning area" class="lazyload" />
        
        {elseif $data.page == 'reservations' || $data.page == 'general-enquiries'}
        <img src="{$data.cdn}/resources/bansuriya/headers/thumb/Ban%20Suriya.jpg" data-src="{$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Tropical%20living.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/bansuriya/headers/small/Ban%20Suriya%20-%20Tropical%20living.jpg 1400w, {$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Tropical%20living.jpg 1920w" alt="Ban Suriya - Tropical living" class="lazyload" />
        
        {elseif $data.page == 'links'}
        <img src="{$data.cdn}/resources/bansuriya/headers/thumb/Ban%20Suriya.jpg" data-src="{$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Pool%20deck%20area.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/bansuriya/headers/small/Ban%20Suriya%20-%20Pool%20deck%20area.jpg 1400w, {$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Pool%20deck%20area.jpg 1920w" alt="Ban Suriya - Pool deck area" class="lazyload" />   
        
        {elseif $data.page == 'sitemap'}
        <img src="{$data.cdn}/resources/bansuriya/headers/thumb/Ban%20Suriya.jpg" data-src="{$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Pool%20deck%20area.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/bansuriya/headers/small/Ban%20Suriya%20-%20Pool%20deck%20area.jpg 1400w, {$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Pool%20deck%20area.jpg 1920w" alt="Ban Suriya - Pool deck area" class="lazyload" />   
        
        {else}
        <img src="{$data.cdn}/resources/bansuriya/headers/thumb/Ban%20Suriya.jpg" data-src="{$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Pool%20deck%20area.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/bansuriya/headers/small/Ban%20Suriya%20-%20Pool%20deck%20area.jpg 1400w, {$data.cdn}/resources/bansuriya/headers/Ban%20Suriya%20-%20Pool%20deck%20area.jpg 1920w" alt="Ban Suriya - Pool deck area" class="lazyload" />   
        {/if}
    
    </div>
</div>
{/if}

{* include file="part-booking.html" *}