<div class="floorplan">
    {if $data.page eq 'about-seseh-beach-villas'}
    <img data-src="{$data.cdn}/resources/{$data.theme}/images/seseh-beach-villa-floorplan.jpg" alt="Seseh Beach Villa Floorplan" class="lazyload" />
    <a href="{$data.home_uri}/download.php?filename=seseh-beach-villa-floorplan-highres.jpg&path=resources/{$data.theme}/images/" target="_blank">Download in high resolution</a>
    {elseif $data.page eq 'seseh-beach-villa-i'}
    <img data-src="{$data.cdn}/resources/{$data.theme}/images/Seseh-Beach-Villa-I-Floorplan.jpg" alt="Seseh Beach Villa I Floorplan" class="lazyload" />
    <a href="{$data.home_uri}/download.php?filename=Seseh-Beach-Villa-I-Floorplan-Highres.jpg&path=resources/{$data.theme}/images/" target="_blank">Download in high resolution</a>
    {elseif $data.page eq 'seseh-beach-villa-ii'}
    <img data-src="{$data.cdn}/resources/{$data.theme}/images/Seseh-Beach-Villa-II-Floorplan.jpg" alt="Seseh Beach Villa II Floorplan" class="lazyload" />
    <a href="{$data.home_uri}/download.php?filename=Seseh-Beach-Villa-II-Floorplan-Highres.jpg&path=resources/{$data.theme}/images/" target="_blank">Download in high resolution</a>
    {elseif $data.page eq 'floorplan'}
   
    <div id="tabs" class="tabs spy-tabs">
        <ul>
            <!-- <li><a href="#floorplan-villas">Seseh Beach Villa</a></li> -->
            <li><a href="#floorplan-seseh-1">Seseh Beach Villa I</a></li>
            <li><a href="#floorplan-seseh-2">Seseh Beach Villa II</a></li>
        </ul>
        <!-- <div id="floorplan-villas">
             <img data-src="{$data.cdn}/resources/{$data.theme}/images/seseh-beach-villa-floorplan.jpg" alt="Seseh Beach Villa Floorplan" class="lazyload" />
			<a href="{$data.home_uri}/download.php?filename=seseh-beach-villa-floorplan-highres.jpg&path=resources/{$data.theme}/images/" target="_blank">Download in high resolution</a>
        </div> -->
        <div id="floorplan-seseh-1">
            <img data-src="{$data.cdn}/resources/{$data.theme}/images/Seseh-Beach-Villa-I-Floorplan.jpg" alt="Seseh Beach Villa I Floorplan" class="lazyload" /> <br/>
			<a href="{$data.home_uri}/download.php?filename=Seseh-Beach-Villa-I-Floorplan-Highres.jpg&path=resources/{$data.theme}/images/" target="_blank">Download in high resolution</a>
        </div>
        <div id="floorplan-seseh-2">
			<img data-src="{$data.cdn}/resources/{$data.theme}/images/Seseh-Beach-Villa-II-Floorplan.jpg" alt="Seseh Beach Villa II Floorplan" class="lazyload" /> <br/>
			<a href="{$data.home_uri}/download.php?filename=Seseh-Beach-Villa-II-Floorplan-Highres.jpg&path=resources/{$data.theme}/images/" target="_blank">Download in high resolution</a>
        </div>
    </div>
    
    {/if}
</div>