{reviews hide_this_year="2010" order="d,c,n"}
<div class="reviews-container">
    <div class="reviews">
        <div class="wrapper">
            <div class="group">
                <div class="half">
                    <img src="{$data.cdn}/resources/{$data.theme}/content/general/thumb/Taman%20Ahimsa%20-%20Pool%20bale.jpg" data-src="{$data.cdn}/resources/{$data.theme}/content/general/Taman%20Ahimsa%20-%20Pool%20bale.jpg" alt="Taman Ahimsa - Pool bale" class="lazyload" />
                </div>
                <div class="half">
                    <div class="content home-reviews">
                        <h2 id="guestreview">Guest Reviews</h2>
                        {$reviews}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>