{include file="header.html"}
<body class="home">
    {$gtm}

    <div class="container">
        {include file="menu.html"}

        <div class="content-container">
            <div class="content">
                <div class="content-item">
                    <div class="collage group">
                        <div class="half">
                            <div class="first-col">
                                <a href="about-akuvara.html" onClick="_gaq.push(['_trackEvent', 'Collage', 'Clicked', 'Home - About The Villa']);">
                                    <div class="overlay"></div>
                                    <img src="{$data.cdn}/resources/akuvara/content/home/thumb/Akuvara%20-%20Villa%20perfection.jpg" data-src="{$data.cdn}/resources/akuvara/content/home/Akuvara%20-%20Villa%20perfection.jpg" data-sizes="auto" data-srcset="{$data.cdn}/resources/akuvara/content/home/small/Akuvara%20-%20Villa%20perfection.jpg 316w, {$data.cdn}/resources/akuvara/content/home/Akuvara%20-%20Villa%20perfection.jpg 632w" alt="Akuvara - Villa perfection" class="lazyload" />
                                    <span>About <em class="arrows"></em></span>
                                </a>
                            </div>
                            <div class="second-col">
                                <div class="first-row">
                                    <a href="villa-experience.html#staff" onClick="_gaq.push(['_trackEvent', 'Collage', 'Clicked', 'Home - Staff']);">
                                        <div class="overlay"></div>
                                        <img src="{$data.cdn}/resources/akuvara/content/home/thumb/Akuvara%20-%20Our%20happy%20staff.jpg" data-src="{$data.cdn}/resources/akuvara/content/home/Akuvara%20-%20Our%20happy%20staff.jpg" data-sizes="auto" data-srcset="{$data.cdn}/resources/akuvara/content/home/small/Akuvara%20-%20Our%20happy%20staff.jpg 375w, {$data.cdn}/resources/akuvara/content/home/Akuvara%20-%20Our%20happy%20staff.jpg 750w" alt="Akuvara - Our happy staff" class="lazyload" />
                                        <span>Staff <em class="arrows"></em></span>
                                    </a>
                                </div>
                                <div class="second-row">
                                    <a href="villa-experience.html#dining" onClick="_gaq.push(['_trackEvent', 'Collage', 'Clicked', 'Home - Dining']);">
                                        <div class="overlay"></div>
                                        <img src="{$data.cdn}/resources/akuvara/content/home/thumb/Akuvara%20-%20Beachfront%20dinner.jpg" data-src="{$data.cdn}/resources/akuvara/content/home/Akuvara%20-%20Beachfront%20dinner.jpg" data-sizes="auto" data-srcset="{$data.cdn}/resources/akuvara/content/home/small/Akuvara%20-%20Beachfront%20dinner.jpg 375w, {$data.cdn}/resources/akuvara/content/home/Akuvara%20-%20Beachfront%20dinner.jpg 750w" alt="Akuvara - Beachfront dinner" class="lazyload" />
                                        <span>Dining <em class="arrows"></em></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="half">
                            <div class="first-row">
                                <a href="lipa-noi-koh-samui.html" onClick="_gaq.push(['_trackEvent', 'Collage', 'Clicked', 'Home - The Locale']);">
                                    <div class="overlay"></div>
                                    <img src="{$data.cdn}/resources/akuvara/content/home/thumb/Akuvara%20-%20Outdoor%20dining%20table.jpg" data-src="{$data.cdn}/resources/akuvara/content/home/Akuvara%20-%20Outdoor%20dining%20table.jpg" data-sizes="auto" data-srcset="{$data.cdn}/resources/akuvara/content/home/small/Akuvara%20-%20Outdoor%20dining%20table.jpg 700w, {$data.cdn}/resources/akuvara/content/home/Akuvara%20-%20Outdoor%20dining%20table.jpg 1400w" alt="Akuvara - Outdoor dining table" class="lazyload" />
                                    <span>Location <em class="arrows"></em></span>
                                </a>
                            </div>
                            <div class="second-row">
                                <div class="first-col">
                                    <a href="villa-experience.html#families" onClick="_gaq.push(['_trackEvent', 'Collage', 'Clicked', 'Home - Families']);">
                                        <div class="overlay"></div>
                                        <img src="{$data.cdn}/resources/akuvara/content/home/thumb/Akuvara%20-%20Spacious%20tv%20room.jpg" data-src="{$data.cdn}/resources/akuvara/content/home/Akuvara%20-%20Spacious%20tv%20room.jpg" data-sizes="auto" data-srcset="{$data.cdn}/resources/akuvara/content/home/small/Akuvara%20-%20Spacious%20tv%20room.jpg 345w, {$data.cdn}/resources/akuvara/content/home/Akuvara%20-%20Spacious%20tv%20room.jpg 690w" alt="Akuvara - Spacious tv room" class="lazyload" />
                                        <span>Families <em class="arrows"></em></span>
                                    </a>
                                </div>
                                <div class="second-col">
                                    <a href="/about-akuvara/explore-the-villa.html#bedrooms" onClick="_gaq.push(['_trackEvent', 'Collage', 'Clicked', 'Home - Bedrooms']);">
                                        <div class="overlay"></div>
                                        <img src="{$data.cdn}/resources/akuvara/content/home/thumb/Akuvara%20-%20Bedroom%20cushions.jpg" data-src="{$data.cdn}/resources/akuvara/content/home/Akuvara%20-%20Bedroom%20cushions.jpg" data-sizes="auto" data-srcset="{$data.cdn}/resources/akuvara/content/home/small/Akuvara%20-%20Bedroom%20cushions.jpg 345w, {$data.cdn}/resources/akuvara/content/home/Akuvara%20-%20Bedroom%20cushions.jpg 690w" alt="Akuvara - Bedroom cushions" class="lazyload" />
                                        <span>4
										bedrooms <em class="arrows"></em></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-item odd">
                    <div class="wrapper">
                        <div class="group">
                            <div class="half">
                                <h1 class="entry-title">{$data.heading}</h1>
                                {if $data.content_id != ''}
                                {parsedata folder=$data.theme cache=$data.cache content=$data.content_id}
                                {/if}
                                {if 'desc'|array_key_exists:$content[0]}

                                    {contentpart content=$content[0].desc regex="default"}
                                    {section name=s loop=$contentPart}
                                    <p>{$contentPart[s]}</p>
                                    {/section}

                                {/if}

                                {if 'SubContents'|array_key_exists:$content[0]}
                                {section name=s loop=$content[0].SubContents}
                                    <h2>{$content[0].SubContents[s].Heading}</h2>
                                    {$content[0].SubContents[s].Description}
                                    {if 'Image'|array_key_exists:$content[0].SubContents[s]}
                                        <p>
                                            <a href="{$content[0].SubContents[s].Image[0].FullSizeUrl|replace:'/wp-content/themes/akuvara':'{$data.cdn}/resources/akuvara'}" rel="gallery" class="pirobox_gall">
                                                <img src="{$content[0].SubContents[s].Image[0].ThumbSizeUrl|replace:'/wp-content/themes/akuvara':'{$data.cdn}/resources/akuvara'}" border="0" width="238" height="158" />
                                            </a>
                                        </p>
                                    {/if}
                                    {/section}
                                {/if}
                            </div>
                            <div class="half">
                                <img src="{$data.cdn}/resources/akuvara/content/home/thumb/Akuvara%20-%20Absolute%20beachfront.jpg" data-src="{$data.cdn}/resources/akuvara/content/home/Akuvara%20-%20Absolute%20beachfront.jpg" alt="Akuvara - Absolute beachfront" class="lazyload" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons-container">                
            {include file="part-buttons.html"}
        </div>
            
{include file="footer.html"}