<div class="spy">
    <ul>
       
        {if $data.page == 'bentota-sri-lanka'}
        <li><a href="#the-locale">The locale</a></li>
        <li><a href="#things-to-do">Things to do</a></li>
        {/if}
        
        {if $data.page == 'villa-experience'}
        <li><a href="#staff">Staff</a></li>
        <li><a href="#dining">Dining</a></li>
        <li><a href="#families">Families</a></li>
        <li><a href="#spa">Spa</a></li>
        {/if}
        
        {if $data.page == 'explore-the-villa'}
        <li><a href="#villa-layout">Villa layout</a></li>
        <li><a href="#living-areas">Living areas</a></li>
        <li><a href="#bedrooms">Bedrooms</a></li>
        {/if}
        
    </ul>
</div>