{reviews hide_this_year="2010" order="d,c,n"}
<div class="wrapper">
<div class="reviews-container">
    <div class="bg-half lazyload" data-bg="{$data.cdn}/resources/{$data.theme}/content/general/Villa San - Master bedroom.jpg">
    </div>
    <div class="reviews">
        <div class="wrapper">
            <div class="group">
                <div class="content home-reviews">
                    <h2 id="guestreview"><span>Guest</span> <span>Reviews</span></h2>
                    {$reviews}
                    
                    <a href="/guest-reviews.html">Read more reviews</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>