{include file="header.html"}

{section name=p loop=$pages}
    {if $data.page == $pages[p].page_identifier}
    	{assign var=bodeh_class value=$pages[p].body_class}
    {/if}
    {if 'children'|array_key_exists:$pages[p]}
    	{section name=sp loop=$pages[p].children}
			{if $data.page == $pages[p].children[sp].page_identifier}
				
				{if $data.origin == $pages[p].children[sp].parent && $data.parent == $pages[p].children[sp].parent}
					{assign var=bodeh_class value=("{$pages[p].children[sp].parent} {$pages[p].children[sp].body_class}")}	
				{else}
					{assign var=bodeh_class value=("{$data.origin} {$pages[p].children[sp].body_class}")}	
				{/if}
				 
            {/if} 
			
        {/section}
    {/if}
{/section}
<body class="{$bodeh_class}">
    {$gtm}

    <div class="container">
        {include file="menu.html"}

        {include file="hero-container.html"}

        {if $data.page|in_array:['grand-cliff-ungasan', 'grand-cliff-nusa-dua', 'ungasan-bali', 'nusa-dua-bali', 'villa-experience', 'explore-the-villa', 'quick-facts', 'dining', 'spa']}
			{if $data.origin|in_array:['dining','spa']}
				{assign var="containerClass" value=""}
			{else}
				{assign var="containerClass" value="scroll"}
			{/if}
        {else}
            {assign var="containerClass" value=""}
        {/if}
       <div class="content-container {$containerClass}">
            <div class="content">
                {if $data.page|in_array:['reservations']}
                    {assign var="contentClass" value=""}
                {else}
                    {assign var="contentClass" value="odd"}
                {/if}
                
                {if $data.page|in_array:['weddings', 'villa-layout', 'bedrooms', 'living-areas', 'the-locale', 'things-to-do', 'staff', 'families'] or $data.origin|in_array:['dining','spa']}
                {else}
                    <div class="content-item {$contentClass}">
						{if $data.page|in_array:['villa-experience']}
							<div class="wrapper">  
								<div class="the-content">
									<h1 class="entry-title">{$data.heading}</h1>
                        {elseif $data.page|in_array:['grand-cliff-ungasan', 'grand-cliff-nusa-dua', 'explore-the-villa', 'ungasan-bali', 'nusa-dua-bali', 'quick-facts', 'dining', 'spa']}
                            <div class="wrapper">  
								<div class="the-content">
									{* <h1 class="entry-title">{$data.origin|replace:['-']:[' ']|ucwords}</h1> *}
									<h1 class="entry-title">
									{contentpart content=$data.origin  explode="-"}
									{section name=s loop=$contentPart max=2}
										{$contentPart[s]} 
									{/section}
									
									<span>{section name=s loop=$contentPart start=2}
										{$contentPart[s]}
									{/section}</span>
									
									</h1>
						{else}
							<h1 class="entry-title">{$data.heading}</h1>
							<div class="wrapper">  
								<div class="the-content">
						{/if}
							
                                {if $data.page|in_array:['grand-cliff-ungasan', 'grand-cliff-nusa-dua', 'ungasan-bali', 'nusa-dua-bali', 'villa-experience', 'explore-the-villa', 'quick-facts', 'dining', 'spa']}
                                    {include file="submenu.html"}
                                {/if}

                                {if $data.page|in_array:['rates', 'reservations', 'general-enquiries']}
                                    {include file="part-guarantee.html"}
                                {/if}

                                {if $data.page|in_array:['grand-cliff-ungasan', 'grand-cliff-nusa-dua', 'weddings', 'ungasan-bali', 'nusa-dua-bali', 'explore-the-villa', 'quick-facts', 'villa-experience', 'villa-layout', 'bedrooms', 'living-areas', 'the-locale', 'things-to-do', 'staff', 'dining', 'families', 'spa']}
                                {else}
                                    {include file="content-single.html"}
                                {/if}                       
                            </div>
                        </div>
                    </div>
                {/if}
                
                {if $data.page|in_array:['weddings', 'villa-layout', 'bedrooms', 'living-areas', 'the-locale', 'things-to-do', 'staff', 'families']}
                    <div class="content-seo">
                    {include file="content-fragment.html"} 
                    </div>
                {/if}
                {if $data.page|in_array:['grand-cliff-ungasan', 'grand-cliff-nusa-dua', 'ungasan-bali', 'nusa-dua-bali', 'explore-the-villa', 'quick-facts', 'dining', 'spa', 'villa-experience'] and $data.origin|in_array:['grand-cliff-ungasan', 'grand-cliff-nusa-dua', 'ungasan-bali', 'nusa-dua-bali', 'explore-the-villa', 'quick-facts', 'villa-experience'] }
                    {if $data.origin|in_array:['dining','spa'] }
					{else}
						{include file="content-fragment.html"}
					{/if}	
					
                {/if} 
                
                {if $data.page neq 'guest-reviews'}
                {* <div class="content-item">  
                    {include file="part-reviews.html"} 
                </div> *} 
                {/if}
            </div>
        </div>

        {if $data.page != 'reservations'}
        <div class="buttons-container">

            {include file="part-buttons.html"}

            {if $data.page|in_array:['grand-cliff-ungasan', 'grand-cliff-nusa-dua', 'explore-the-villa', 'quick-facts', 'press', 'photo-gallery', 'video', 'floorplan', 'weddings', 'ungasan-bali', 'nusa-dua-bali', 'villa-experience', 'staff', 'dining', 'families', 'spa', 'guest-reviews']}
               {include file="part-prevnext.html"}		
            {/if}

        </div>
        {/if}
            
{include file="footer.html"}