<?xml version="1.0" encoding="utf-8"?>
		<Configuration>
		<Source>
		<villa_id>P00224</villa_id>
		<estate_id vids=""></estate_id>
		<villa_name>Villa Kayajiwa</villa_name>
		<google_analytics>UA-121619740-1</google_analytics>
		<location>Bali</location>
		<sublocation> Canggu</sublocation>
		<bedrooms>4</bedrooms>
		<hrental_id>'P00224', 'Bali', 'Canggu', '4br'</hrental_id>
		<ehgLocation>Bali, Canggu</ehgLocation>
		<ehgBookingSource>Villa Website</ehgBookingSource>
		<ehgPageType>individual</ehgPageType>
		</Source>
		</Configuration>