<?xml version="1.0" encoding="utf-8"?>
		<Configuration>
		<Source>
		<villa_id>PuriNirwana</villa_id>
		<estate_id vids=""></estate_id>
		<villa_name>Villa Puri Nirwana</villa_name>
		<google_analytics>UA-121609286-1</google_analytics>
		<location>Bali</location>
		<sublocation>Sanur-Ketewel</sublocation>
		<bedrooms>6</bedrooms>
		<hrental_id>'PuriNirwana', 'Bali', 'Sanur-Ketewel', '6br'</hrental_id>
		<ehgLocation>Bali, Sanur-Ketewel</ehgLocation>
		<ehgBookingSource>Villa Website</ehgBookingSource>
		<ehgPageType>individual</ehgPageType>
		</Source>
		</Configuration>