{if $data.page|in_array:['home', 'index']}
<div class="hero-container">
    <div class="slideshow">
        <div id="slide-1">            
            <img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Yamu%20Villa%20Bua.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Yamu Villa Bua - Aerial.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Yamu%20Villa%20Bua%20-%20Aerial.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Yamu%20Villa%20Bua%20-%20Aerial.jpg 1920w" alt="Yamu Villa Bua - Aerial" class="lazyload" />          
        </div>
    </div>
</div>
{else}
<div class="hero-container">
    <div class="hero">
    
        {if $data.page == 'about-yamu-villa-bua'}
        <img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Yamu%20Villa%20Bua.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Yamu Villa Bua - Villa view.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Yamu%20Villa%20Bua%20-%20Villa%20view.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Yamu%20Villa%20Bua%20-%20Villa%20view.jpg 1920w" alt="Yamu Villa Bua - Villa view" class="lazyload" />
        
        {elseif $data.page == 'explore-the-villa'}
        <img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Yamu%20Villa%20Bua.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Yamu Villa Bua - Cozy living area.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Yamu%20Villa%20Bua%20-%20Cozy%20living%20area.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Yamu%20Villa%20Bua%20-%20Cozy%20living%20area.jpg 1920w" alt="Yamu Villa Bua - Cozy living area" class="lazyload" />
        
        {elseif $data.page == 'quick-facts'}
        <img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Yamu%20Villa%20Bua.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Yamu Villa Bua - Outdoor dining area.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Yamu%20Villa%20Bua%20-%20Outdoor%20dining%20area.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Yamu%20Villa%20Bua%20-%20Outdoor%20dining%20area.jpg 1920w" alt="Yamu Villa Bua - Outdoor dining area" class="lazyload" />

        {elseif $data.page == 'photo-gallery'}
       

        {elseif $data.page == 'floorplan'}
        
        
        {elseif $data.page == 'cape-yamu-phuket'}
        <img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Yamu%20Villa%20Bua.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Yamu Villa Bua - Cozy living area.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Yamu%20Villa%20Bua%20-%20Cozy%20living%20area.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Yamu%20Villa%20Bua%20-%20Cozy%20living%20area.jpg 1920w" alt="Yamu Villa Bua - Cozy living area" class="lazyload" />
        
        {elseif $data.page == 'staff'}
        <img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Yamu%20Villa%20Bua.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Yamu Villa Bua - Staff service anywhere in the villa.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Yamu%20Villa%20Bua%20-%20Staff%20service%20anywhere%20in%20the%20villa.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Yamu%20Villa%20Bua%20-%20Staff%20service%20anywhere%20in%20the%20villa.jpg 1920w" alt="Yamu Villa Bua - Staff service anywhere in the villa" class="lazyload" />
        
        {elseif $data.page == 'dining'}
        <img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Yamu%20Villa%20Bua.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Yamu Villa Bua - Dining area.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Yamu%20Villa%20Bua%20-%20Dining%20area.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Yamu%20Villa%20Bua%20-%20Dining%20area.jpg 1920w" alt="Yamu Villa Bua - Dining area" class="lazyload" />
        
        {elseif $data.page == 'families'}
        <img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Yamu%20Villa%20Bua.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Yamu Villa Bua - Entertaiment room.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Yamu%20Villa%20Bua%20-%20Entertaiment%20room.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Yamu%20Villa%20Bua%20-%20Entertaiment%20room.jpg 1920w" alt="Yamu Villa Bua - Entertaiment room" class="lazyload" />
        
        {elseif $data.page == 'spa'}
        <img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Yamu%20Villa%20Bua.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Yamu Villa Bua - Spa.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Yamu%20Villa%20Bua%20-%20Spa.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Yamu%20Villa%20Bua%20-%20Spa.jpg 1920w" alt="Yamu Villa Bua - Spa" class="lazyload" />
        
		{elseif $data.page == 'corporate'}
        <img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Yamu%20Villa%20Bua.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Yamu Villa Bua - Corporate.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Yamu%20Villa%20Bua%20-%20Corporate.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Yamu%20Villa%20Bua%20-%20Corporate.jpg 1920w" alt="Yamu Villa Bua - Corporate" class="lazyload" />
        
        {elseif $data.page == 'guest-reviews'}
        
		{elseif $data.page == 'press'}        
		
		{elseif $data.page == 'romance'}
        <img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Yamu%20Villa%20Bua.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Yamu Villa Bua - Weddings.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Yamu%20Villa%20Bua%20-%20Weddings.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Yamu%20Villa%20Bua%20-%20Weddings.jpg 1920w" alt="Yamu Villa Bua - Weddings" class="lazyload" />        
		
        {elseif $data.page == 'rates'}        
        
        {elseif $data.page == 'reservations' || $data.page == 'general-enquiries'}
        <img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Yamu%20Villa%20Bua.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Yamu Villa Bua - Villa view.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Yamu%20Villa%20Bua%20-%20Villa%20view.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Yamu%20Villa%20Bua%20-%20Villa%20view.jpg 1920w" alt="Yamu Villa Bua - Villa view" class="lazyload" />
        
        {elseif $data.page == 'links'}
        <img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Yamu%20Villa%20Bua.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Yamu Villa Bua - Villa view.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Yamu%20Villa%20Bua%20-%20Villa%20view.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Yamu%20Villa%20Bua%20-%20Villa%20view.jpg 1920w" alt="Yamu Villa Bua - Villa view" class="lazyload" />
        
        {elseif $data.page == 'sitemap'}
        <img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Yamu%20Villa%20Bua.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Yamu Villa Bua - Villa view.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Yamu%20Villa%20Bua%20-%20Villa%20view.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Yamu%20Villa%20Bua%20-%20Villa%20view.jpg 1920w" alt="Yamu Villa Bua - Villa view" class="lazyload" />
        
        {else}
        <img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Yamu%20Villa%20Bua.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Yamu Villa Bua - Villa view.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Yamu%20Villa%20Bua%20-%20Villa%20view.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Yamu%20Villa%20Bua%20-%20Villa%20view.jpg 1920w" alt="Yamu Villa Bua - Villa view" class="lazyload" />
        {/if}
    
    </div>
</div>
{/if}

{* include file="part-booking.html" *}