<?xml version="1.0" encoding="utf-8"?>
		<Configuration>
		<Source>
		<villa_id>Luna2PrivateHotel</villa_id>
		<estate_id vids=""></estate_id>
		<villa_name>Noku Beach House</villa_name>
		<google_analytics>UA-112765083-1</google_analytics>
		<location>Bali</location>
		<sublocation> Seminyak</sublocation>
		<bedrooms>6</bedrooms>
		<hrental_id>'Luna2PrivateHotel', 'Bali', 'Seminyak', '6br'</hrental_id>
		<ehgLocation>Bali, Seminyak</ehgLocation>
		<ehgBookingSource>Villa Website</ehgBookingSource>
		<ehgPageType>individual</ehgPageType>
		</Source>
		</Configuration>