{if $data.page == 'about-the-ylang-ylang'}
<img src="{$data.cdn}/resources/{$data.theme}/content/about/thumb/Villa%20Ylang%20Ylang%20-%20East%20central%20bathroom.jpg" data-src="{$data.cdn}/resources/{$data.theme}/content/about/Villa%20Ylang%20Ylang%20-%20East%20central%20bathroom.jpg" alt="The Ylang Ylang East Central Bathroom" class="lazyload" />

{elseif $data.page == 'weddings'}
<img src="{$data.cdn}/resources/{$data.theme}/content/weddings/thumb/ring.jpg" data-src="{$data.cdn}/resources/{$data.theme}/content/weddings/ring.jpg" alt="The Ylang Ylang - Ring" class="lazyload" />

{else}
{/if}