{if $data.content_id != ''}
    {parsedata folder=$data.theme cache=$data.cache content=$data.content_id}
{/if}
                    
{if $data.page|in_array:['press']}

    <div class="press-container">

        <div class="press-item">
            <a href="/resources/{$data.theme}/pdfs/press/2018/November/Sohamsa-Ocean-Estate__Grand-Cliff-Nusa-Dua__Kaba-kaba-Estate__Expatliving.sg__November.pdf" target="_blank"><img src="{$data.cdn}/resources/{$data.theme}/pdfs/press/2018/November/Sohamsa-Ocean-Estate__Grand-Cliff-Nusa-Dua__Kaba-kaba-Estate__Expatliving.sg__November.jpg" class="imgleft"></a>“Indulge in a break from what has no doubt been a busy year with some time at Kaba Kaba Estate in Bali’s Tabanan regency.” 
            <a href="/resources/{$data.theme}/pdfs/press/2018/November/Sohamsa-Ocean-Estate__Grand-Cliff-Nusa-Dua__Kaba-kaba-Estate__Expatliving.sg__November.pdf" target="_blank"><em></em> <strong>Expatliving.sg</strong>, November 08th, 2018.</a>
        </div>
        <div class="press-item">
            <a href="/resources/{$data.theme}/pdfs/press/2018/October/Sohamsa-Ocean-Estate__Grand-Cliff-Nusa-Dua__Kaba-kaba-Estate__Expatliving.sg__October.pdf" target="_blank"><img src="{$data.cdn}/resources/{$data.theme}/pdfs/press/2018/October/Sohamsa-Ocean-Estate__Grand-Cliff-Nusa-Dua__Kaba-kaba-Estate__Expatliving.sg__October.jpg" class="imgleft"></a>“Surrounded by rice terraces and greenery, Kaba Kaba Estate in Bali’s Tabanan regency is a great spot to escape from busy city life.”. 
            <a href="/resources/{$data.theme}/pdfs/press/2018/October/Sohamsa-Ocean-Estate__Grand-Cliff-Nusa-Dua__Kaba-kaba-Estate__Expatliving.sg__October.pdf" target="_blank"><em></em> <strong>Expatliving.sg</strong>, October 24th, 2018.</a>
        </div>

		<div class="press-item"><a href="/resources/{$data.theme}/pdfs/press/Kaba-Kaba-Estat--June-2017.pdf" target="_blank"><img src="{$data.cdn}/resources/{$data.theme}/pdfs/press/Kaba-Kaba-Estat--June-2017.jpg" class="imgleft"></a>“Kaba Kaba is home to immaculately decorated rooms, tennis court, a mini movie theatre and more”. <a href="/resources/{$data.theme}/pdfs/press/Kaba-Kaba-Estat--June-2017.pdf" target="_blank"><em> A Haven of One’s Own, Bali</em>, <strong>Bazaar Junior</strong>, June 2017.</a></div>
		<div class="press-item"><a href="/resources/{$data.theme}/pdfs/press/FRV-11.4---Kaba-Kaba.pdf" target="_blank"><img src="{$data.cdn}/resources/{$data.theme}/pdfs/press/FRV-11.4---Kaba-Kaba.jpg" class="imgleft"></a>“It’s called the Kaba Kaba Estate, and any new villa owner looking to best it has their work cut out to go higher in either design or opulence.” <a href="/resources/{$data.theme}/pdfs/press/FRV-11.4---Kaba-Kaba.pdf" target="_blank"><em> Kaba Kaba Estate</em>, <strong>FRV Bali</strong>, Edition 11.4 Dec '14 – Jan '15.</a></div>
		<div class="press-item"><a href="/resources/{$data.theme}/pdfs/press/Expat-Living---Paradise-found.pdf" target="_blank"><img src="{$data.cdn}/resources/{$data.theme}/pdfs/press/Expat-Living---Paradise-found.jpg" class="imgleft"></a>“Bali may not be an island paradise anymore, but there are still private paradises tucked away where you can be kings or queens of all you survey. You just have to know where they are and how to make the most of them ”. <a href="/resources/{$data.theme}/pdfs/press/Expat-Living---Paradise-found.pdf" target="_blank"><em> Paradise found</em>, <strong>Expat Living Singapore</strong>, December 2014.</a></div>
		<div class="press-item"><a href="/resources/{$data.theme}/pdfs/press/The-Australian-Kaba-Kaba-Estate.pdf" target="_blank"><img src="{$data.cdn}/resources/{$data.theme}/pdfs/press/The-Australian-Kaba-Kaba-Estate.jpg" class="imgleft"></a>“With the bejewelled throne of a Burmese king presiding over the dining pavilion, Kaba Kaba’s stunning interiors are a treasure trove of skilfully curated antiques, curios and paintings”. <a href="/resources/{$data.theme}/pdfs/press/The-Australian-Kaba-Kaba-Estate.pdf" target="_blank"><em> Beachside villas in Byron, Noosa and Bali turn up the luxury for Christmas</em>, <strong>The Australian; Executive Living</strong>, Published November 18, 2014.</a></div>
		<div class="press-item"><a href="/resources/{$data.theme}/pdfs/press/Robb-Report---Kaba-Kaba-report.pdf" target="_blank"><img src="{$data.cdn}/resources/{$data.theme}/pdfs/press/Robb-Report---Kaba-Kaba-report.jpg" class="imgleft"></a>“This is what luxury looks like in rural southwestern Bali”. <a href="/resources/{$data.theme}/pdfs/press/Robb-Report---Kaba-Kaba-report.pdf" target="_blank"><em> Greener Pastures</em>, <strong>Robb Report</strong>, Edition Nov-Dec, 2014.</a></div>
		<div class="press-item"><a href="/resources/{$data.theme}/pdfs/press/kaba-kaba-villa-elle-decor-text.pdf" target="_blank"><img src="{$data.cdn}/resources/{$data.theme}/pdfs/press/kaba-kaba-villa-elle-decor-text.jpg" class="imgleft"></a>“Keselarasan ketiga bangunan tampil dengan kemasan yang tidak banyak berkoar namun menghadirkan banyak sekali kejutan di dalamnya”. <a href="/resources/{$data.theme}/pdfs/press/kaba-kaba-villa-elle-decor-text.pdf" target="_blank"><em> a Surprise in Disguise</em>, <strong>ELLE DÉCOR INDONESIA</strong>, Edition Aug – Sep, 2014.</a></div>
        <div class="press-item"><a href="/resources/{$data.theme}/pdfs/press/Spellbound-by-the-Kaba-Kaba-Estate-Bali.pdf" target="_blank"><img src="{$data.cdn}/resources/{$data.theme}/pdfs/press/Spellbound-by-the-Kaba-Kaba-Estate-Bali.jpg" class="imgleft"></a>“Spellbound by the Kaba Kaba Estate Bali”. <a href="/resources/{$data.theme}/pdfs/press/Spellbound-by-the-Kaba-Kaba-Estate-Bali.pdf" target="_blank"><em></em>, <strong>Press release</strong>, Edition Jan 25, 2015.</a></div>

    </div>

{elseif $data.page|in_array:['video']}

    {include file="video.html"}

{elseif $data.page|in_array:['floorplan']}

    {include file="floorplan.html"}

{elseif $data.page|in_array:['guest-reviews']}

    <div class="reviews-container">
        {reviews order="c,n,d"}
        {$reviews}
    </div>
    <div class="reviews-pagination">
        {if $data.cur_page > 1}
        <a class="prev" href="javascript:void(0)"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
        {/if}
        {section name=pg loop=$data.num_pages}
        {if $data.cur_page == $smarty.section.pg.index+1}
        <a class="page active" href="javascript:void(0)">{$data.cur_page}</a>
        {else}
        <a class="page" href="javascript:void(0)">{$smarty.section.pg.index+1}</a>
        {/if}
        {/section}
        {if $data.cur_page gte 1 && $data.cur_page lt $data.num_pages}
        <a class="next" href="javascript:void(0)"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        {/if}
    </div>

{elseif $data.page|in_array:['rates']}
   
    {$content}
    
{elseif $data.page|in_array:['reservations', 'general-enquiries', 'links', 'reservation-sent', 'contact-sent']}
   
    {$content}
    
{elseif $data.page|in_array:['sitemap']}
   
    <ul id="sitemap">
    {section name=p loop=$pages}
    {if $pages[p].menu_location == 'main' || $pages[p].page_identifier == 'index'}
        <li>
            {if $pages[p].page_identifier neq ''}
                {if $pages[p].page_identifier eq 'index'}
                <a href="{$data.home_uri}/">{$pages[p].label}</a>
                {else}
                <a href="{$data.home_uri}/{seo_optimize urls=$seo_urls page=$pages[p].page_identifier}">{$pages[p].label}</a>
                {/if}
            {else}
            <a href="{$data.home_uri}/#">{$pages[p].label}</a>
            {/if}
            {if 'children'|array_key_exists:$pages[p]}
            <ul class="sub-menu">
                {section name=sp loop=$pages[p].children}
                {if $pages[p].children[sp].page_identifier neq 'about-kaba-kaba-estate' and $pages[p].children[sp].page_identifier neq 'photo-gallery'}
                <li>
                    {if $pages[p].children[sp].level == 'sub'}
                    <a href="{$data.home_uri}/{seo_optimize urls=$seo_urls page=$pages[p].children[sp].parent child=$pages[p].children[sp].page_identifier}">
                    {elseif $pages[p].children[sp].level == 'linkout'}
                    <a href="{$pages[p].children[sp].page_identifier}" target="_blank">
                    {else}
                    <a href="{$data.home_uri}/{seo_optimize urls=$seo_urls page=$pages[p].children[sp].page_identifier}">
                    {/if}
                    {$pages[p].children[sp].label}
                    </a>
                </li>
                {/if}
                {/section}
            </ul>
            {/if}
        </li>
    {/if}
    {/section}
    </ul> 
    
{else}
    
    {if 'desc'|array_key_exists:$content[0]}
        {contentpart content=$content[0].desc strip=["<p>", "</p>"] explode="<br /><br />"}
        {section name=s loop=$contentPart}
        <p>{$contentPart[s]}</p>
        {/section}

    {/if}

    {if 'SubContents'|array_key_exists:$content[0]}
        {section name=s loop=$content[0].SubContents}
            <h2>{$content[0].SubContents[s].Heading}</h2>
            {$content[0].SubContents[s].Description}
            {if 'Image'|array_key_exists:$content[0].SubContents[s]}
                <p>
                    <a href="{$content[0].SubContents[s].Image[0].FullSizeUrl|replace:'/wp-content/resources/{$data.theme}':'{$data.cdn}/resources/{$data.theme}'}">
                        <img src="{$content[0].SubContents[s].Image[0].ThumbSizeUrl|replace:'/wp-content/resources/{$data.theme}':'{$data.cdn}/resources/{$data.theme}'}" class="lazyload" />
                    </a>
                </p>
            {/if}
        {/section}

    {/if}

{/if}