{reviews hide_this_year="2010" order="d,c,n" villa_id="P00221,P00222"}
<div class="reviews-container lazyload" data-bg="{$data.cdn}/resources/{$data.theme}/content/general/Twin Villas Natai - Natai beach.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-bgset="{$data.cdn}/resources/{$data.theme}/content/general/small/Twin%20Villas%20Natai%20-%20Natai%20beach.jpg 1400w, {$data.cdn}/resources/{$data.theme}/content/general/Twin%20Villas%20Natai%20-%20Natai%20beach.jpg 1920w"> 
    <div class="reviews">
        <div class="wrapper">
            <div class="group">
                <div class="content home-reviews">
                    <h2 id="guestreview"><span>Guest Reviews</span></h2>
                    {$reviews}
                    
                    <a href="/guest-reviews.html">read more</a>
                </div>
            </div>
        </div>
    </div>
</div>