<?xml version="1.0" encoding="utf-8"?>
		<Configuration>
		<Source>
		<villa_id>TheBay15</villa_id>
		<estate_id vids=""></estate_id>
		<villa_name>Villa Sapna</villa_name>
		<google_analytics>UA-106848265-1</google_analytics>
		<location>Phuket</location>
		<sublocation> Cape Yamu</sublocation>
		<bedrooms>5</bedrooms>
		<hrental_id>'TheBay15', 'Phuket', 'Cape Yamu', '5br'</hrental_id>
		<ehgLocation>Phuket, Cape Yamu</ehgLocation>
		<ehgBookingSource>Villa Website</ehgBookingSource>
		<ehgPageType>individual</ehgPageType>
		</Source>
		</Configuration>