<?xml version="1.0" encoding="utf-8"?>
		<Configuration>
		<Source>
		<villa_id>P00011</villa_id>
		<estate_id vids="Amy,DeaVillas-Sati,GladakHouse-Sarasvati,Sarasvati">dea villas</estate_id>
		<villa_name>Dea Villas Estate</villa_name>
		<google_analytics>UA-52357355-1</google_analytics>
		<location>Bali</location>
		<sublocation>Canggu</sublocation>
		<bedrooms>12</bedrooms>
		<hrental_id>'P00011', 'Bali', '12br'</hrental_id>
		<ehgLocation>Bali, Canggu</ehgLocation>
		<ehgBookingSource>Villa Website</ehgBookingSource>
		<ehgPageType>individual</ehgPageType>
		</Source>
		</Configuration>