<?xml version="1.0" encoding="utf-8"?>
		<Configuration>
		<Source>
		<villa_id>Cendrawasih</villa_id>
		<estate_id vids=""></estate_id>
		<villa_name>Villa Cendrawasih</villa_name>
		<google_analytics>UA-51639824-1</google_analytics>
		<location>Bali</location>
		<sublocation> Seminyak</sublocation>
		<bedrooms>4</bedrooms>
		<hrental_id>'Cendrawasih', 'Bali', 'Seminyak', '4br'</hrental_id>
		<ehgLocation>Bali, Seminyak</ehgLocation>
		<ehgBookingSource>Villa Website</ehgBookingSource>
		<ehgPageType>individual</ehgPageType>
		</Source>
		</Configuration>