<?xml version="1.0" encoding="utf-8"?>
		<Configuration>
		<Source>
		<villa_id>P00232</villa_id>
		<estate_id vids=""></estate_id>
		<villa_name>Yamu Villa Bua</villa_name>
		<google_analytics>UA-122511822-1</google_analytics>
		<location>Phuket</location>
		<sublocation> Cape Yamu</sublocation>
		<bedrooms>4</bedrooms>
		<hrental_id>'P00232', 'Phuket', 'Cape Yamu', '4br'</hrental_id>
		<ehgLocation>Phuket, Cape Yamu</ehgLocation>
		<ehgBookingSource>Villa Website</ehgBookingSource>
		<ehgPageType>individual</ehgPageType>
		</Source>
		</Configuration>