<?xml version="1.0" encoding="utf-8"?>
		<Configuration>
		<Source>
		<villa_id>Asmara-Canggu</villa_id>
		<estate_id vids=""></estate_id>
		<villa_name>Villa Asmara</villa_name>
		<google_analytics>UA-27685518-1</google_analytics>
		<location>Bali</location>
		<sublocation> Seseh-Tanah Lot</sublocation>
		<bedrooms>4</bedrooms>
		<hrental_id>'Asmara-Canggu', 'Bali', 'Seseh-Tanah Lot', '4br'</hrental_id>
		<ehgLocation>Bali, Seseh-Tanah Lot</ehgLocation>
		<ehgBookingSource>Villa Website</ehgBookingSource>
		<ehgPageType>individual</ehgPageType>
		</Source>
		</Configuration>