{reviews hide_this_year="2010" order="d,c,n" villa_id="ShintaDewi,P00028"}
{if $data.page eq 'ubud-bali' or $data.origin eq 'villa-shinta-dewi-ubud'}
<div class="reviews-container lazyload" data-bg="{$data.cdn}/resources/{$data.theme}/content/general/Villa Shinta Dewi Ubud - View from the top.jpg"> 
{else}
<div class="reviews-container lazyload" data-bg="{$data.cdn}/resources/{$data.theme}/content/general/Villa Shinta Dewi - View from the top.jpg"> 
{/if}
    <div class="reviews">
        <div class="wrapper">
            <div class="group">
                <div class="content home-reviews">
                    <h2 id="guestreview"><span>Guest Reviews</span></h2>
                    {$reviews}
                    
                    <a href="/guest-reviews.html">read more</a>
                </div>
            </div>
        </div>
    </div>
</div>