		{if $data.page|in_array:['enquire-now','index']}
        {else}
        <div class="footer-baner" >
            <div style="margin-left: 4px; margin-right: 4px;">
                <div style="float:left; width: 49.555%; ">
                    <a href="{$data.home_uri}/{seo_optimize urls=$seo_urls page="m" child="villa-maya"}">
                        <img style="width:100%; display:block;" src="/resources/majapahit/images/m/footer/Majapahit-Maya-f.jpg" alt="Villa Maya">
                    </a>
                </div>
                <div style="float: right; width: 49.555%;">
                    <a href="{$data.home_uri}/{seo_optimize urls=$seo_urls page="m" child="villa-raj"}">
                        <img style="width:100%; display:block;" src="/resources/majapahit/images/m/footer/Majapahit-Raj-f.jpg" alt="Villa Raj">
                    </a>
                </div>
                <div style="float:right; width: 100%; margin-top: 3px;">
                    <a href="{$data.home_uri}/{seo_optimize urls=$seo_urls page="m" child="villa-nataraja"}">
                        <img style="width:100%; display:block;" src="/resources/majapahit/images/m/footer/Majapahit-Nataraja-f.jpg" alt="Villa Nataraja">
                    </a>
                </div>					
            </div>				
        </div>
        {/if}
        <div id="bottom">
                <div class="footer_detail">
                    <strong>A holiday here includes</strong>
                    <ul>
                        <li id="fully-staffed"></li>
                        <li id="private-chef"></li>
                        <li id="insider-info"></li>
                        <li id="private-pool"></li>
                        <li id="free-wifi"></li>
                    </ul>
                </div>
<!--                <div class="sectionLine"></div>-->
                <div id="socmed">
                    <ul>
                        <li><a href="https://www.facebook.com/elitehavens?ref_type=bookmark" title="Facebook" target="_blank" class="facebook"></a></li>
                        <li><a href="http://instagram.com/elitehavens" title="Instagram" target="_blank" class="instagram"></a></li>
                        <li><a href="http://www.pinterest.com/elitehavensall/" title="Pinterest" target="_blank" class="pinterest"></a></li>
                        <li><a href="https://twitter.com/elitehavens" title="Twitter" target="_blank" class="twitter"></a></li> 
                        <li><a href="https://www.linkedin.com/company/elite-havens" title="Linked In" target="_blank" class="linkedin"></a></li>
                        <li><a href="https://plus.google.com/110452875661394954138/posts?hl=en" title="Google Plus" target="_blank" class="gplus"></a></li>
                    </ul>
                </div>
                <div id="ehbrand">
                    <a href="http://www.elitehavens.com/aboutus.aspx" target="_blank">
                    	<img src="/resources/majapahit/images/m/eh_logo_blue.png" alt="an elite haven" title="an elite haven">
                	</a>
				</div>
		</div>
        <div id="buttons">
            <ul>
                <li><a href="http://www.majapahitbeachvillas.com/m/enquire-now.html">Enquire</a></li>
                <li><a href="tel:+62361737498">Call</a></li>
            </ul>                
        </div>
        <a id="backTop">Back To Top</a>
        
        <script type="text/javascript">
            /* multi bedrooms rates */
            $('#1bed,#2bed,#3bed,#4bed,#5bed,#6bed,#7bed,#8bed,#9bed,#10bed,#11bed,#12bed,#13bed,#14bed,#15bed,#16bed,#17bed,#18bed,#19bed,#20bed').tabs();
            $('#1bed,#2bed,#3bed,#4bed,#5bed,#6bed,#7bed,#8bed,#9bed,#10bed,#11bed,#12bed,#13bed,#14bed,#15bed,#16bed,#17bed,#18bed,#19bed,#20bed').removeClass('ui-tabs'); 
            
            $('#tabs, #byseason, #bydate').tabs();
            $('#tabs, #tabs ul, #tabs div, #tabs li').removeClass('ui-helper-clearfix ui-widget-header ui-corner-top ui-corner-bottom ui-helper-reset ui-corner-all ui-widget ui-widget-content'); 
        </script>       
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/resources/majapahit/js/m/jquery.backTop.js"></script>
        <script type="text/javascript" src="/resources/majapahit/js/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="/resources/majapahit/js/m/jquery.validate.js"></script>
        <script type="text/javascript" src="/resources/majapahit/js/m/mobilesite.js"></script>
    </body>
</html>

