<?xml version="1.0" encoding="utf-8"?>
		<Configuration>
		<Source>
		<villa_id>Alamanda</villa_id>
		<estate_id vids=""></estate_id>
		<villa_name>Villa Alamanda</villa_name>
		<google_analytics>UA-1760286-1</google_analytics>
		<location>Bali</location>
		<sublocation>Ubud</sublocation>
		<bedrooms>4</bedrooms>
		<hrental_id>'Alamanda', 'Bali', 'Ubud', '4br'</hrental_id>
		<ehgLocation>Bali, Ubud</ehgLocation>
		<ehgBookingSource>Villa Website</ehgBookingSource>
		<ehgPageType>individual</ehgPageType>
		</Source>
		</Configuration>