<div class="headerimg">
	{if $data.page == 'about-villa-tamansorga'}
        <img src="/resources/tamansorga/headers/about.jpg" title="about Taman Sorga" alt="about Taman Sorga" />
   	{else if $data.page == 'villa-layout'}
        <img src="/resources/tamansorga/headers/villa-layout.jpg" title="villa layout - Taman Sorga" alt="villa layout - Taman Sorga" />
    {elseif $data.page == 'contact-us'}
        <img src="/resources/tamansorga/headers/contact-us.jpg" title="contact us - Taman Sorga" alt="contact us - Taman Sorga" />
    {elseif $data.page == 'availability-calendar'}
        <img src="/resources/tamansorga/headers/availability.jpg" title="availability - Taman Sorga" alt="availability - Taman Sorga" />
    {elseif $data.page == 'families'}
        <img src="/resources/tamansorga/headers/families.jpg" title="families - Taman Sorga" alt="families - Taman Sorga" />
    {elseif $data.page == 'living-areas'}
       <img src="/resources/tamansorga/headers/about.jpg" title="about Taman Sorga" alt="about Taman Sorga" />
    {elseif $data.page == 'floorplan'}
       <img src="/resources/tamansorga/headers/about.jpg" title="about Taman Sorga" alt="about Taman Sorga" />
    {elseif $data.page == 'quick-facts'}
        <img src="/resources/tamansorga/headers/about.jpg" title="about Taman Sorga" alt="about Taman Sorga" />
    {elseif $data.page == 'dining'}
        <img src="/resources/tamansorga/headers/dining.jpg" title="dining - Taman Sorga" alt="dining - Taman Sorga" />
    {elseif $data.page == 'virtual-tour'}    
        <img src="/resources/tamansorga/headers/sitemap.jpg" title="Taman Sorga" alt="Taman Sorga" />
    {elseif $data.page == 'general-enquiries'}
        <img src="/resources/tamansorga/headers/contact-us.jpg" title="enquire now - Taman Sorga" alt="enquire now - Taman Sorga" />
    {elseif $data.page == 'guest-reviews'}
        <img src="/resources/tamansorga/headers/guest-reviews.jpg" title="guest reviews - Taman Sorga" alt="guest reviews - Taman Sorga" />
    {elseif $data.page == 'links'}
        <img src="/resources/tamansorga/headers/links.jpg" title="Sitemap - {$data.villa_name}" alt="Links - Taman Sorga" />
    {elseif $data.page == 'press'}
        <img src="/resources/tamansorga/headers/press.jpg" title="press - Taman Sorga" alt="press - Taman Sorga" />
    {elseif $data.page == 'quick-facts'}
        <img src="/resources/tamansorga/headers/quick-facts.jpg" title="quick facts - Taman Sorga" alt="quick facts - Taman Sorga" />
    {elseif $data.page == 'reservations'}
        <img src="/resources/tamansorga/headers/enquire-now.jpg" title="enquire now - Taman Sorga" alt="enquire now - Taman Sorga" />
    {elseif $data.page == 'sitemap'}
        <img src="/resources/tamansorga/headers/sitemap.jpg" title="Sitemap - {$data.villa_name}" alt="sitemap - {$data.villa_name}"/>
    {elseif $data.page == 'spa'}
        <img src="/resources/tamansorga/headers/spa.jpg" title="spa - Taman Sorga" alt="spa - Taman Sorga" />
    {elseif $data.page == 'staff'}
        <img src="/resources/tamansorga/headers/staff.jpg" title="staff - Taman Sorga" alt="staff - Taman Sorga" />
    {elseif $data.page == 'things-to-do'}
        <img src="/resources/tamansorga/headers/things-to-do.jpg" title="things to do - Taman Sorga" alt="things to do - Taman Sorga"/>
    {elseif $data.page == 'the-locale'}
        <img src="/resources/tamansorga/headers/the-locale.jpg" title="the locale - Taman Sorga" alt="the locale - Taman Sorga" />
    {elseif $data.page == 'rates'}
        <img src="/resources/tamansorga/headers/rates.jpg" title="the locale - Taman Sorga" alt="the locale - Taman Sorga" />
    {/if}
</div>
<div class="clear"></div>