<div id="undefined-sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 107px;">
<div class="topheader" style="position: fixed; top: 0px;">
	<div class="center">
		<div id="logo"><a href="{$data.home_uri}"><img src="/resources/tamansorga/images/logo-tamansorga.png" width="198" height="19"></a></div>
            <div id="mainnav">
                <div class="menu-primary-menu-container">
                    <ul id="menu-primary-menu" class="mainnav sf-js-enabled sf-shadow">
                    {assign var=class value=''}
                    {assign var=hclass value=''}


                    {section name=p loop=$pages}
                    {if $pages[p].menu_location == 'main'}
                    
                        {if $data.page == $pages[p].page_identifier}
                            {assign var=class value='current-menu-item current_page_item'}
                        {else}
                            {assign var=class value=''}
                        {/if}
                        
                        {if $pages[p].page_identifier == $data.parent}
                            {assign var=hclass value='current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children'}
                        {else}
                            {assign var=hclass value=''}
                        {/if}
                        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page page_item {$hclass} menu-item {$class}">
                            <a href="{$data.home_uri}/{seo_optimize urls=$seo_urls page=$pages[p].page_identifier}">{$pages[p].label}</a>
                            {if 'children'|array_key_exists:$pages[p]}
                            <ul class="sub-menu" style="display: none; visibility: hidden;">
                            {assign var=subclass value=''}
                            {section name=sp loop=$pages[p].children}
                                {if $data.page == $pages[p].children[sp].page_identifier}
                                    {assign var=subclass value='current-menu-item current_page_item'}
                                {else}
                                    {assign var=subclass value=''}
                                {/if}
                            	<li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item {$subclass}">
                                	{if $pages[p].children[sp].level == 'sub'}
                                	   <a href="{$data.home_uri}/{seo_optimize urls=$seo_urls page=$pages[p].children[sp].parent child=$pages[p].children[sp].page_identifier}">
                                    {else}
                                        <a href="{$data.home_uri}/{seo_optimize urls=$seo_urls page=$pages[p].page_identifier}">
                                    {/if}
                                    {$pages[p].children[sp].label}
                                    </a>
                                </li>
                            {/section}
                            </ul>
                            {/if}
                        </li>
                    {/if}   
                    {/section}
                    </ul>
                </div>
            </div>
        </div>
    
</div>
</div>
<div class="clear"></div> 