{include file="header.html"}
</head>
<body class="page-child parent-pageid-14 page-template page-template-page-gallery page-template-page-gallery-php">
{$gtm}
		
	<div id="container">
	{include file="menu.html"}
	
	{include file="banner.html"}
	
	<div class="wrapper">
		<div class="contentwrap_gal">
			
			<div class="btn-wrap">
				{include file="book-now.html"}
				<div class="clear"></div>
			</div>		
			
			<div class="content_gal">
				<div class="maincol_gal">
					<h1 class="entry-title">{#HEADING_VIRTUAL_TOUR#}</h1>
					<p><iframe width="785" height="550" src="/resources/tamansorga/vr/movie.php"></iframe></p>
				</div>
				<!-- /maincol -->
			</div>
			<!-- /content -->
			
		</div>
		<!-- /contentwrap -->
	</div>
	<div class="clear"></div>
{include file="footer.html"}