<div class="hero-container">    
    {if $data.page|in_array:['home', 'index']}
    <div class="slideshow">
        <div class="item"><img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Malaiwana%20Estate.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Malaiwana%20Residences%20-%20Beachfront%20location.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Malaiwana%20Residences%20-%20Beachfront%20location.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Malaiwana%20Residences%20-%20Beachfront%20location.jpg 1920w" alt="Malaiwana Residences - Beachfront location" class="lazyload" /></div>
    </div>
    {else}
    <div class="hero">
		{if $data.url_lvl_1 == 'the-villas'}      
			<img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Malaiwana%20Estate.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Malaiwana%20Villa%20M%20-%20Outstanding%20pool%20view.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Malaiwana%20Villa%20M%20-%20Outstanding%20pool%20view.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Malaiwana%20Villa%20M%20-%20Outstanding%20pool%20view.jpg 1920w" alt="Malaiwana Villa M - Outstanding pool view" class="lazyload" />
		{elseif $data.url_lvl_1 == 'the-residences'}
			<img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Malaiwana%20Estate.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Malaiwana%20Duplex%20-%20Living%20area%20outlook.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Malaiwana%20Duplex%20-%20Living%20area%20outlook.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Malaiwana%20Duplex%20-%20Living%20area%20outlook.jpg 1920w" alt="Malaiwana Villa M - Outstanding pool view" class="lazyload" />
        
        {else}
			<img src="{$data.cdn}/resources/{$data.theme}/headers/thumb/Malaiwana%20Estate.jpg" data-src="{$data.cdn}/resources/{$data.theme}/headers/Malaiwana%20Residences%20-%20Beachfront%20location.jpg" data-sizes="(min-width: 1281px) 1920px, auto" data-srcset="{$data.cdn}/resources/{$data.theme}/headers/small/Malaiwana%20Residences%20-%20Beachfront%20location.jpg 1400w, {$data.cdn}/resources/{$data.theme}/headers/Malaiwana%20Residences%20-%20Beachfront%20location.jpg 1920w" alt="Malaiwana Residences - Beachfront location" class="lazyload" />
        {/if}
			
    </div>
    {/if}
	
	{if $data.page|in_array:['home','index','the-villas', 'the-residences']}
		<form method="post" id="signUpForm" name="signUpForm" action="/subscribed-malaiwana.html" onsubmit="return validateForm();">
			<h3>Sign up</h3>
			<div class="box-input">
				<input type="email" id="email" name="subscriber" placeholder="sign up here with your email" required="">
				<input type="submit" name="btnSignUp" id="popup-submit">	
			</div>
		</form>
	{/if}
	
</div>
 
{* include file="part-booking.html" *}