{if $data.url_lvl_1|in_array:['the-villas']}
  <div class="reviews-container">
		<div class="reviews">
			 <div class="group">
				<div class="half lazyload" data-bg="{$data.cdn}/resources/{$data.theme}/content/general/Malaiwana%20Villa%20R%20-%20Stunning%20ocean%20view.jpg">			
						<div class="content home-reviews">
							<h2 id="guestreview">Guest Reviews</h2>
							{reviews order="d,c,n" limit=5 villa_id="P00146,P00154,P00181"}
							{$reviews}					
							
						</div>
					</div>
						
					<div class="half lazyload" data-bg="{$data.cdn}/resources/{$data.theme}/content/general/Malaiwana%20Villa%20R%20-%20Bedroom%20design.jpg">
						
						<div class="content home-reviews">
							<h2 class="entry-title">The Residences</h2>	
							 {parsedata folder=$data.theme cache="P00153" content="INTRO"}						
							 <p>
							 {if 'SubContents'|array_key_exists:$content[0]}
								{section name=s loop=$content[0].SubContents}
									{contentpart content=$content[0].SubContents[1].Description explode="."}									
									{section name=s start=0 max=2  loop=$contentPart}
										 {$contentPart[s]}.
									{/section}		
								{/section}
							{/if}
							
							<a href="/the-residences.html"  class="btn-default">Show me more</a>
							</p>
						</div>
					</div>
			 </div>			
		</div>
	</div>
{/if}  		
			
{if $data.url_lvl_1|in_array:['the-residences'] }
	  <div class="reviews-container">
			<div class="reviews">
				 <div class="group">
					<div class="half lazyload" data-bg="{$data.cdn}/resources/{$data.theme}/content/general/Malaiwana%20Villa%20R%20-%20Stunning%20ocean%20view.jpg">			
						<div class="content home-reviews">
							<h2 id="guestreview">Guest Reviews</h2>
							{reviews order="d,c,n" limit=5 villa_id="P00145,P00143"}
							{$reviews}	
						</div>
					</div>
						
					<div class="half lazyload" data-bg="{$data.cdn}/resources/{$data.theme}/content/general/Malaiwana%20Villa%20R%20-%20Bedroom%20design.jpg">
						
						<div class="content home-reviews">
							<h2 class="entry-title">The Villas</h2>	
							 {parsedata folder=$data.theme cache="P00153" content="INTRO"}						
							 <p>
							 {if 'SubContents'|array_key_exists:$content[0]}
								{section name=s loop=$content[0].SubContents}
									{contentpart content=$content[0].SubContents[0].Description explode="."}									
									{section name=s start=0 max=3  loop=$contentPart}
										 {$contentPart[s]}.
									{/section}		
								{/section}
							{/if}
							
							<a href="/the-villas.html"  class="btn-default">Show me more</a>
							</p>
						</div>
					</div>
				 </div>			
			</div>
		</div>
{/if} 			
		