<?xml version="1.0" encoding="utf-8"?>
		<Configuration>
		<Source>
		<villa_id>P00168</villa_id>
		<estate_id vids=""></estate_id>
		<villa_name>Villa Cemara</villa_name>
		<google_analytics>UA-106543107-1</google_analytics>
		<location>Bali</location>
		<sublocation> Sanur-Ketewel</sublocation>
		<bedrooms>5</bedrooms>
		<hrental_id>'P00168', 'Bali', 'Sanur-Ketewel', '5br'</hrental_id>
		<ehgLocation>Bali, Sanur-Ketewel</ehgLocation>
		<ehgBookingSource>Villa Website</ehgBookingSource>
		<ehgPageType>individual</ehgPageType>
		</Source>
		</Configuration>