<div class="bottom container_12 clearfix"><div class="grid_12"><a href="http://www.elitehavens.com/aboutus.aspx" target="_blank"><img src="/resources/ehteaser/images/logo-eh.png" alt="an elite haven" title="an elite haven" /></a></div></div>
	<footer id="footer-wrapper" class="site-footer">
    <div id="footer" class="container_12 clearfix">
		<div class="site-info grid_12">
			&copy; 2018 {$data.teaser_data.Villa.Info.Name}, {$data.site_tag} by <a href="http://www.elitehavens.com" target="_blank">The Elite Havens Group</a>.
		</div><!-- .site-info -->
    </div>
	</footer><!-- #colophon -->
</div><!-- #page -->

<script type="text/javascript"> 
	var dir = '/resources/ehteaser';
</script>

<script src="/resources/ehteaser/lazysizes/ls.unveilhooks.min.js"></script>
<script src="/resources/ehteaser/lazysizes/ls.bgset.min.js"></script>
<script src="/resources/ehteaser/lazysizes/lazysizes.min.js"></script>
<script type="text/javascript" src="/resources/ehteaser/owlcarousel/owl.carousel.js"></script>
<script type="text/javascript" src="/resources/ehteaser/js/jquery.justifyNav.js"></script>
<script type="text/javascript" src="/resources/ehteaser/js/site.js"></script>
<script type="text/javascript" src="/resources/common/js/villa_new.js"></script>
{if $data.page != 'photo-gallery'}
<script type="text/javascript" src="/resources/ehteaser/js/jquery.flexslider-min.js"></script>
{/if}
</body>
</html>
