{if 0|array_key_exists:$data.teaser_data.Villa.Info.Rooms.Room}
    {assign var=rate value=$data.teaser_data.Villa.Info.Rooms.Room[0].MinRoomRate|@floor}
    {assign var=br value=$data.teaser_data.Villa.Info.Rooms.Room[0].RoomName}
{else}
    {assign var=rate value=$data.teaser_data.Villa.Info.Rooms.Room.MinRoomRate|@floor}
    {assign var=br value=$data.teaser_data.Villa.Info.Rooms.Room.RoomName}
{/if}
<main id="main" class="site-main">
    <article id="post">
        <div class="container_12 clearfix">
            <header class="entry-header grid_6">
                <h1 class="entry-title">{$data.teaser_data.Villa.Info.Name}</h1>
                <div class="location">{$br} villa, {$data.teaser_data.Villa.Info.Location}, {$data.teaser_data.Villa.Info.Country}</div>
                <div class="rate">from {$rate}++ USD/night</div>
            </header><!-- .entry-header -->
            <div class="headright grid_6">
                <div class="site"><!-- Site button --></div>
                <div class="book">{#BOOK_NOW_BUTTON#}</div>
            </div>
        </div>
        <div id="slideshow" class="container_12 clearfix">
            <div class="grid_12">
				 <div class="headerimg">
					<div class="flexslider">
						<ul class="slides">
                        	<!--
							{section name=i loop=$data.teaser_data.Villa.Info.Images.Image}
							<li>
								<img src="{$data.teaser_data.Villa.Info.Images.Image[i].Url}" data-src="{$data.teaser_data.Villa.Info.Images.Image[i].Url}" data-sizes="329h" data-srcset="{$data.teaser_data.Villa.Info.Images.Image[i].Url} 940w, {$data.teaser_data.Villa.Info.Images.Image[i].Url} 940w" alt="{$data.teaser_data.Villa.Info.Name}" class="lazyload" width="940" height="330" />
							</li>
							{/section}
                            -->
                            <li>
								<img src="/page_headers/{$data.villa_id}/home1.jpg" data-src="/page_headers/{$data.villa_id}/home1.jpg" data-sizes="329h" data-srcset="/page_headers/{$data.villa_id}/home1.jpg 940w, /page_headers/{$data.villa_id}/home1.jpg 940w" alt="{$data.teaser_data.Villa.Info.Name}" class="lazyload" />
							</li>
                            <li>
								<img src="/page_headers/{$data.villa_id}/home2.jpg" data-src="/page_headers/{$data.villa_id}/home2.jpg" data-sizes="329h" data-srcset="/page_headers/{$data.villa_id}/home2.jpg 940w, /page_headers/{$data.villa_id}/home2.jpg 940w" alt="{$data.teaser_data.Villa.Info.Name}" class="lazyload" />
							</li>
                            <li>
								<img src="/page_headers/{$data.villa_id}/home3.jpg" data-src="/page_headers/{$data.villa_id}/home3.jpg" data-sizes="329h" data-srcset="/page_headers/{$data.villa_id}/home3.jpg 940w, /page_headers/{$data.villa_id}/home3.jpg 940w" alt="{$data.teaser_data.Villa.Info.Name}" class="lazyload" />
							</li>
                            <li>
								<img src="/page_headers/{$data.villa_id}/home4.jpg" data-src="/page_headers/{$data.villa_id}/home4.jpg" data-sizes="329h" data-srcset="/page_headers/{$data.villa_id}/home4.jpg 940w, /page_headers/{$data.villa_id}/home4.jpg 940w" alt="{$data.teaser_data.Villa.Info.Name}" class="lazyload" />
							</li>
                            <li>
								<img src="/page_headers/{$data.villa_id}/home5.jpg" data-src="/page_headers/{$data.villa_id}/home5.jpg" data-sizes="329h" data-srcset="/page_headers/{$data.villa_id}/home5.jpg 940w, /page_headers/{$data.villa_id}/home5.jpg 940w" alt="{$data.teaser_data.Villa.Info.Name}" class="lazyload" />
							</li>
						</ul>
					</div>
				</div>
            </div>
        </div>
        <div class="entry-content grid_12">
            <p>{$data.teaser_data.Villa.Info.Blurb}</p>
        </div><!-- .entry-content -->
    </article><!-- #post-## -->
</main><!-- #main -->